footer ul li {
    list-style-type: none;
    display: block;
    bottom: 0px;
}
footer ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    
}
footer {
    margin-bottom: 0%;
}
#logo {
    text-align: center;
    padding: 200px 0px 260px 0px;
}
#logo input {
    display: block;
    margin: auto;
    height: 30px;
    width: 350px;
    border-radius: 25px;
}
#logo button{
    border-radius: 25px;
    margin-top: 10px;
    width: 170px;
    height: 25px;
}
